<!DOCTYPE html>
<html>
  <head>
    <title>Qna</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/nav' %>
    <div class="row justify-content-center flex-column">
      <p class="notice col col-md-6 m-auto"><%= notice %></p>
      <p class="alert col col-md-6 m-auto"><%= alert %></p>
    </div>
    <%= yield %>
  </body>
</html>
